numpy==1.23.5
tensorflow==2.13.0
tensorflow_probability==0.21.0
torch>=2.0.0
jaxlib==0.4.13
jax==0.4.13
waymo-open-dataset-tf-2-12-0==1.6.7
ml-dtypes==0.2.0
protobuf==3.20.3
pandas==1.5.3
matplotlib==3.6.1
pyyaml
tqdm
tensorboard
gcsfs
google-cloud-storage
Pillow>=9.0
grpcio
apache-beam
scipy>=1.7
scikit-learn==1.2.2
absl-py==1.4.0
google-auth==2.16.2
